
@font-face {
    font-family: Louis George Cafea;
    src: url('./fonts/LOUIS\ GEORGE\ CAFE\ LIGHT.TTF')
}
.container {
    background-color: #181818;
    height: 110vh;
    width: 100%;
    color: white;
    user-select:none;
    position: relative;

}

.ancla{

    position: relative;
    top: 5vh;
    padding-top: 15vh;
}
.content{
    display: flex;
    font-family: 'Louis George Cafe';
    letter-spacing: 1.5px;
    justify-content: space-around;
    text-align: center;

}


.red{
    position:absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 105vh;
    background-color: #810f28;

}

/*?-----------------------------CARDS*/
.card{
    background-color:#181818;
    width: 30%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#eeeeee;
    font-size: 40pt;
}

.card {
    float: left;
    perspective: 800px;
    transition: all 0.5s ease 0s;
   

}
.card:hover .box {
    cursor: url('./images/cursor.png'), auto;	
}
.card:focus .box {
    transform: rotateY(180deg);


}
.box {
    cursor: default;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    height: 100%;
    width: 100%;
    -webkit-animation: giro 1s 1;
    animation: giro 1s 1;

}
.box .front {
    backface-visibility: hidden;
    font-size: 30pt;
    height: 100%;
    padding: 0.8em;
    position: absolute;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box .back {
  
    backface-visibility: hidden;
    font-family:Louis George Cafe Light;
    font-size: 30pt;
    
    padding-left:50px ;
    padding-right: 50px;
    width: 100%;
    height: 100%;
    line-height:1.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box .back {
    transform: rotateY(180deg);
}

.backText{
    font-size: 14pt;
}

/*?-----fin------------------------CARDS*/







/* RESPONSIVE */

@media screen and (max-width: 970px) {
  .container {
    background-color: #181818;

    width: 100%;
    color: white;
    user-select:none;
    position: relative;

}
.red{
    min-height: 145vh;
}
.content{
    display: flex;
    
    flex-direction: column;
   font-family: 'Louis George Cafe';
   letter-spacing: 1.5px;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.card{
    width: 80%;
    height: 45vh;
    display: flex;
    margin-top: 5px;
    align-items: center;
    color:#eeeeee;
    font-size: 40pt;
}
.box .back {
  
    backface-visibility: hidden;
    font-family:Louis George Cafe Light;

    padding-top: 10px;
    padding-left:50px ;
    padding-right: 50px;
    width: 100%;
    line-height:1em;

}
   }

   @media screen and (max-width: 1550px) {

    .box .back {

        padding-top: 40px;
        padding-left:50px ;
        padding-right: 50px;
        width: 100%;
        line-height:1.3em;
      
    }
    .backText{
        font-size: 12pt;
    }

   }
   @media screen and (max-width: 1120px) {
    .red{
        min-height: 160vh;
    }
    .container{
        min-height: 160vh;
    }
    .box .back {

        padding-top: 20px;
        line-height:1em;
      
    }
    .backText{
        font-size: 10pt;
    }
 
   }
   @media screen and (max-width: 480px) {
    .container{
        min-height: 150vh;
    }
    .backText{
        line-height:20px
    }
   }
   @media screen and (max-width: 350px) {
    .red{
        min-height: 200vh;
    }
    .container{
        min-height: 200vh;
    }
    .card{
        height: 300px;
    }
    .backText{
        line-height:15px
    }
   }