@font-face {
    font-family: Shockwave;
    src: url('./fonts/SHOCKWAVE.TTF')
}
.banner {
    padding-top: 10vh;
    height: 100vh;
    width: 100%;
    background-color: #181818;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('./images/back1.png');
    overflow: hidden;
    background-position: top right;
    background-repeat: no-repeat;
    background-size:contain
}
.cont{
    display: flex;
    align-items: center;
}
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50rem;
    transition: all 500ms ease;
}

.one {
    font-family: Olympus Mount;
    color: white;
    font-size: 80pt;
    letter-spacing: 5px;

    transition: all 500ms ease;
}



.port {
    font-family: Olympus Mount;
    color: white;
    font-size: 110pt;
    text-transform: uppercase;
    position: relative;
    cursor: url('./images/pointer.png'), auto;	
    text-decoration: none;
    
    transition: all 500ms ease;
}



.middle {

    display: flex;
    align-items: center;
    height: 130px;
    letter-spacing: 5px;
}

.text h3 {
    font-family: Shockwave;
    color: white;
    font-size: 40pt;
    pointer-events: none;
    transition: all 500ms ease;
}

.image {
    width: 800px;
    -webkit-filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
    pointer-events: none;
}



/* RESPONSIVE */
@media screen and (max-width: 1550px) {

    .image{
       width: 500px;
       transition: ease 0.3s;
    }
    
   }
   @media screen and (max-width: 1550px) {

    .image{
       display: none;
    }
    
   }
@media screen and (max-width: 970px) {
    .banner{
        background-image:none
    }
    .container{
      padding: 20px;
      max-width: 970px;
    } 
    .image{
        display: none;
    }
    
   }
   
   @media screen and (max-width: 767px) {
    .container{
      padding: 10px;
      max-width: 970px;
      transition: all .2s ease;
    } 
    .text {
        width: 400px;
    }
    .one {
        font-size: 50pt;}
    .port {
        font-size: 70pt;
    }
    .text h3{
        font-size:20pt;
    }
    .image{
        display: none;
    }
    
   }
   @media screen and (max-width: 480px) {
    .one {
        font-size: 30pt;}
    .port {
        font-size: 45.5pt;
    }
    .text h3{
        font-size:10pt;
    }
   }
   @media screen and (max-width: 350px) {
    .one {
        font-size: 20pt;}
    .port {
        font-size: 35.5pt;
    }
    .text h3{
        font-size:10pt;
    }
    .middle{
        width:50%;
        height:60px;
    }
    .middle h3{
        font-size: 15pt;
    }
    .middle img{
        width: 10%;
    }
   }

