.container {
    min-height: 100vh;
    width: 100%;
    background-color: #181818;
    margin-top: -5%;
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;

}

.container {
    color: white;

}

.titleMain {
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
    margin-bottom: 20px;
}

.cardsCont {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card {
    box-sizing: border-box;
    position: relative;
    margin-top: 5%;
    width: 50%;
    display: flex;
}

.card img {
    pointer-events: none;
    width: 50%;
    height: fit-content;
    object-fit: cover;
    border-radius: 15px;
    object-position: top;

}

.description {

    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-betweens;
}

.title {
    text-align: center;
    font-family: 'Louis George Cafe';
    font-size: 17pt;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle {
    font-weight: 500;
    color: #afafaf;
    font-size: 13pt;
}

.text {
    text-align: center;
    margin-top: 5px;
    font-family: 'Louis George Cafe';
    font-weight: lighter;
    font-size: 15pt;
}

.links {

    margin-top: 5%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.demo {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    width: 200px;
    text-decoration: none;
    color: white;
    font-size: 14pt;
    justify-content: space-around;
    align-items: center;
    background-color: #980222;
    margin: 10px 9px;
    padding: 5px;
    transition: ease all 0.2s;
}

.demo:hover {
    cursor: url('./images/pointer.png'), auto;
    border-radius: 10px;
}

.demo img {
    width: 20px;
    height: fit-content;
    user-select: none;

}

.demo h5,
img:hover {

    cursor: url('./images/pointer.png'), auto;
}

@media screen and (max-width: 1550px) {

    .container {
        padding: 0;
    }

    .cardsCont {
        align-content: center;
        padding: 0;
    }

    .card {
        padding: 0;
        width: 100%;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .card img {
        width: 50%;
        align-self: center;
    }

    .description {

        width: 70%;
        align-self: center;

    }

    .demo img {
        width: 20%;
    }
}

@media screen and (max-width: 480px) {
    .description {
        width: 100%;
        align-self: center;
    }

    .cardsCont {
        width: 100%;
    }

    .card {
        width: 90%;
    }

    .card img {
        width: 60%;
        align-self: center;
    }

    .demo {
        width: 150px;
    }

    .demo img {
        width: 20%;
    }
}

@media screen and (max-width: 350px) {
    .card {
        width: 100%;
    }

    .description {
        width: 90%;
        padding: 0;
    }

    .title {
        font-size: 12pt;
    }

    .subtitle {
        font-size: 10pt;
        text-align: center;
    }

    .text {

        font-size: 13pt;
    }

}